body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
.slesh{
    color:aliceblue;
}
.divssilka{
    background-color: #006bbb;
    padding: 10px;
    height: 80px;
    color:#ac9d5a;
}
.zagolovok1{
    height: 160px;
    padding: 20px;
    padding-left: 30px;
    padding-top: 40px;
    color:white;
    background-color: mediumblue;
    margin-bottom: 10px;
}
.okoshki1{
    height: 160px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
}
.miniokoshko1{
    background-color: #006bbb;
    height: 140px;
    text-align: center;
    padding-top: 20px;
    color: white;
    
}

.okoshki2{
    height: 120px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
}
.miniokoshko2{
    background-color: #006bbb;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.palka{
    border-bottom: solid 3px #f3f3f3;
}